[Unit]
Description=Run Immich HDD Backup every 7 days at 11:00

[Timer]
OnCalendar=Mon *-*-* 11:00:00
Persistent=true

[Install]
WantedBy=timers.target
